/* HAMBURGER MENU */
.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 1100px) {
    .hamburger {
        display: block;
    }

    nav.menu {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: white;
        flex-direction: column;
        display: none;
    }

    nav.menu.active {
        display: flex;
    }

    nav.menu ul {
        flex-direction: column;
    }

    nav.menu .menu-item {
        margin: 10px 0;
        text-align: center;
    }

    .logo {
        position: static;
        transform: none;
        margin: 0 auto;
    }

    .clickable-image {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .news-list {
        flex-wrap: nowrap;
    }
}

@media (max-width: 1200px) {
    .footer-container {
        margin: 0 40px;
        padding: 0 50px 100px 0;
    }

    .footer-col {
        flex: 1 1 220px;
    }

    .footer-icon img {
        width: 250px;
        height: auto;
    }
}

@media (max-width: 992px) {
    .footer-container {
        margin: 0 30px;
        padding: 0 40px 80px 0;
    }

    .footer-icon img {
        width: 200px;
        height: auto;
    }

    .footer-top {
        flex-direction: column;
        gap: 20px;
    }

    .footer-col {
        flex: 1 1 100%;
    }

    .footer-col:not(:last-child) {
        border-bottom: 1px solid #333; /* Linea divisoria orizzontale */
    }
}

@media (max-width: 768px) {
    .footer-container {
        margin: 0 20px;
        padding: 0 30px 60px 0;
    }

    .footer-top {
        gap: 15px;
    }

    .footer-col h4 {
        font-size: 14px;
    }

    .footer-col li {
        font-size: 14px;
    }

    .footer-bottom {
        text-align: center;
    }

}

@media (max-width: 576px) {
    .footer-container {
        margin: 0 10px;
        padding: 0 20px 40px 0;
    }

    .footer-icon img {
        width: 180px;
        height: auto;
    }

    .footer-top {
        flex-direction: column;
        gap: 15px;
    }

    .footer-col {
        flex: 1 1 100%;
    }

    .footer-col h4 {
        font-size: 14px;
    }

    .footer-col li {
        font-size: 13px;
    }

    .footer-bottom {
        font-size: 12px;
        text-align: center;
    }
}

@media (max-width: 800px) {
    .title-top h2 {
        font-size: 2px;
    }

    .featured-news,
    .featured-news1,
    .green-content,
    .end-content {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .main-top,
    .main-top1,
    .related-bottom,
    .media-sidebar {
        width: 100%;
        padding: 20px 0;
        border-bottom: 1px solid #ccc;
    }


    .media-sidebar {
        border-bottom: none;
    }

    .main-top {
        grid-template-columns: 1fr;
    }

    .main-top1 {
        grid-template-columns: 1fr;
    }

    .related-bottom {
        flex-direction: column;
        gap: 20px;
    }

    .text-with-image {
        flex-direction: column;
        align-items: flex-start;
    }

    .text-with-image img {
        margin-right: 0;
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .end-content {
        grid-template-columns: 1fr 1fr; /* Due colonne per schermi più piccoli */
    }

    .section-box {
        width: 100%; /* Ogni sezione prenderà il 100% della larghezza */
        margin-bottom: 20px;
    }
}

@media (max-width: 800px) {
    .featured-news {
        display: none;
    }

    .featured-news-tablet {
        display: none;
    }

    .featured-news-mobile {
        display: block;
    }
    .title-top-mobile{
        display: block;
    }
    .text-content {
        padding: 0 25px;
    }

    .text-content a {
        font-size: 17px;
    }

    .video-container {
        padding-top: 20px;
        width: 80%; /* o una larghezza fissa */
        margin: 0 auto; /* centra orizzontalmente */
    }

    video {
        width: 100%; /* adatta al contenitore */
        display: block;
    }

    .mobile-news-list ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .mobile-news-list li {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid #ddd;
        padding: 15px 0;
    }

    .text-content {
        width: 75%;
        padding-right: 15px;
    }

    .text-content a {
        font-family: "Publico Headline", serif;
        font-size: 17px;
        font-weight: bold;
        color: #000;
        text-decoration: none;
        display: block;
    }

    .text-content a:hover {
        text-decoration: underline;
    }

    .text-content .time {
        font-size: 12px;
        color: #777;
        margin-top: 8px;
        display: block;
    }
    .mobile-news-list li{
        border-bottom: 0;
        border-top: 0;
    }
    .mobile-news-list li img {
        width: 80%;
        height: 80%;
        max-width: 100px;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        padding-right: 10px;
    }


    .pub-mobile {
        text-align: center;
    }

    .pub-mobile img {
        max-width: 80%; /* Per far sì che l'immagine non superi la larghezza del contenitore */
        height: auto;
    }

    .title-top{
        display: none;
    }
    .title-top-tablet{
        display:none;
    }
    .title-top-mobile{
        font-family: "Publico Headline", serif;
        font-size: 30px;
        padding: 30px 0 0 60px;
        font-weight: bolder;
    }

    .featured-news1 {
        display: none;
    }

}


@media (min-width: 800px) and (max-width: 1100px) {
    .featured-news {
        display: none;
    }

    .featured-news-tablet {
        display: block;
    }

    .tablet-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 20px;
    }

    .grid-item img {
        max-width: 100%;
        height: auto;
        display: block;
        margin:0 auto;
    }

    .grid-item h2{
        font-size: 19px;

    }
    .grid-item h3, .grid-item h4, .grid-item p {
        margin-top: 10px;
        font-family: "Publico Headline", serif;
        font-size: 19px;
        font-weight: bold;
        color: #000;
        text-decoration: none;
    }
    .grid-item a{
        text-decoration: none;
        color: #000;
    }
    .grid-item a:hover {
        text-decoration: underline;
    }
    .grid-item .time{
        font-size: 8px;
        font-weight: lighter;
    }
    .title-top{
        display: none;
    }
    .title-top-mobile{
        display:none;
    }
    .featured-news1 {
        display: none;
    }
    .title-top-tablet{
        font-family: "Publico Headline", serif;
        font-size: 30px;
        padding: 30px 0 0 30px;
        font-weight: bolder;
    }
    .text-content a{
        position: absolute;
    }
    .text-content1{
        margin-top: 0;
    }
}




