* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', sans-serif;
    background-color: #fff;
}

.main-news {
    padding: 10px 20px;
    background-color: #fff;
}

.main-news h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

.featured-news {
    display: grid;
    grid-template-areas:
        "main-top media-sidebar"
        "related-bottom media-sidebar";
    grid-template-columns: 2.3fr 0.7fr;
    grid-template-rows: auto auto;
    gap: 20px;
    padding: 20px;
    margin: 40px 20px;
    background-color: #fff;
}

.featured-news1 {
    display: grid;
    grid-template-areas:
        "main-top media-sidebar"
        "related-bottom media-sidebar";
    grid-template-columns: 2.3fr 0.7fr;
    grid-template-rows: auto auto;
    gap: 20px;
    padding: 20px;
    margin: 0 20px 40px 20px;
    background-color: #fff;
}

.main-top {
    grid-area: main-top;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    background-color: #fff;
    padding: 20px;
    align-items: center;
}

.main-top1 {
    grid-area: main-top;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    background-color: #fff;
    padding: 30px;
    align-items: center;
}

.main-top2 {
    background: #000;
}

.title-top {
    font-family: "Publico Headline", serif;
    font-size: 60px;
    padding: 30px 0 0 60px;
    font-weight: bolder;
}

.title-top2 {
    color: #fff;
    padding: 30px 0 0 40px;
    background:#00711A;
}

.title-top3 {
    background: #000;
    color: #fff;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-content h1 {
    font-size: 36px;
    font-family: "Publico Headline", serif;
    margin-bottom: 20px;
}

.text-content a {
    color: black;
    text-decoration: none;
}

.text-content1 a{
    color: #fff;
}

.text-content a:hover {
    text-decoration: underline;
}

.text-content h2 {
    font-family: "Publico Headline", serif;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
}

.text-content .intro {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    margin-bottom: 8px;
}

.text-content .time {
    font-size: 12px;
    color: #999;
}

.main-image img {
    width: 100%;
    height: auto;
    margin-left: auto;
    display: block;
}

.related-bottom {
    grid-area: related-bottom;
    display: flex;
    padding: 10px;
    gap: 40px;
}

.related-item {
    flex: 1;
    text-align: center;
}
.related-item2 a {

    color: #fff;
}

.related-item2 a:hover {
    text-decoration: underline;
}

.related-item img {
    width: 100%;
    display: block;
}

.related-item .time {
    font-size: 12px;
    color: #999;
    margin-top: 4px;
}

.media-sidebar {
    grid-area: media-sidebar;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-video video {
    width: 100%;
    margin-top: 20px;
}

.secondary-list {
    list-style: none;
    padding: 0;
}

.secondary-list li {
    margin-bottom: 30px;
    font-family: "Publico Headline", serif;
    font-size: 25px;
    font-weight: 700;
}

.secondary-list a {
    font-family: "Publico Headline", serif;
    display: block;
    text-decoration: none;
    font-size: 19px;
    transition: color 0.3s ease;
    color: black;
    display: block;
}

.secondary-list a:hover {
    text-decoration: underline;
    color: black;
}

.secondary-list .time {
    font-family: "Proxima Nova", sans-serif;
    font-weight: 400;
    display: block;
    font-size: 12px;
    color: #999;
    margin-top: 2px;
    margin-left: 2px;
}

.related-item h4 {
    font-family: "Publico Headline", serif;
    font-size: 30px;
    margin-top: 7px;
    text-align: left;
    font-weight: 700;
    line-height: 1.18;
}

.related-item a {
    text-decoration: none;
    color: black;
    display: block;
}

.related-item1 a {
    color: #fff;
    background: #000;
}

.related-item a:hover {
    text-decoration: underline;
    color: black;
}

.related-bottom1 {
    background: #000;
}

.related-item span {
    float: left;
}

.news-item{
    margin-top: 50px;
}

.text-with-image {
    display: flex;
    align-items: center;
    gap: 15px;
}

.text-content {
    display: flex;
    flex-direction: column;  /* Posiziona il testo sopra e l'orario sotto */
    margin-bottom: auto;
}

.text-content .time {
    font-family: "Proxima Nova", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #999;
}

.text-with-image img {
    width: 100px;
    height: auto;
    object-fit: cover;
    margin-right: 20px;
}

.text-content1 {
    font-family: "Proxima Nova", sans-serif;
    margin-top: 20px;
}

.green-content {
    display: grid;
    grid-template-areas:
        "main-top media-sidebar"
        "related-bottom media-sidebar";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    padding:20px 35px;
    margin: 0;
    background-color: #00711A;
}

.end-content {
    display: grid;
    grid-template-areas:
        "main-top media-sidebar"
        "related-bottom media-sidebar";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    padding: 20px;
    margin: 40px 20px;
    background-color: #fff;
}

.section-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Allinea tutto a sinistra */
    background-color: #fff;
    padding: 7px;
    border-radius: 8px;
    text-align: left; /* Assicura che il testo sia allineato a sinistra */
}

.section-box1{
    background:#00711A;
}

.section-box img {
    width: 90%;
    height: auto;
    margin-bottom: 25px;
}

.section-box1 img {
    width: 100%;
}

.section-box h3 {
    margin: 10px 0;
    font-family: "Publico Headline", serif;
    font-size: 27px;
    color: black;
    margin-bottom: 15px;
}

.section-box1 h3{
    color:#fff;
}

.section-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.section-box li {
    font-family: "Proxima Nova", sans-serif;
    font-size: 15px;
    line-height: 1.14;
    font-weight: 700;
    letter-spacing: .3px;
    margin: 5px 0;
    margin-bottom: 25px;
}

.section-box a {
    text-decoration: none;
    color: #000; /* Nero */
}

.section-box1 a{
    color:#fff;
}

.section-box a:hover {
    text-decoration: underline;
}